body {
  font-family: sans-serif;
  background-color: grey;
  background:url(images/a.png);
}
#app {
  position: relative;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: red;
  position: fixed;
  top: 20px;
  left: 52%;
  border-radius: 50%;
}

#rod1,
#rod2 {
  width: 150px;
  height: 20px;
  position: fixed;
  left: 50%;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#rod1 {
  background-color: #62cdff;
  top: 0px;
}
#rod2 {
  background-color: #ff8400;
  bottom: 0px;
}
